.advanced-search-input {
    width: 70px;
    height: 30px;
    border: 0;
    padding: 5px;
}

.advanced-search-input:focus {
    outline: none;
}

.advanced-search-input_container {
    align-items: center;
    gap: 5px;
    color: var(--white);
    width: 200px;
    justify-content: flex-end;
}

.advanced-search__container {
    max-width: 500px;
    width: auto;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.advanced-search__wrapper {
    width: 100%;
    height: auto;
    background-color: var(--orange);
    justify-content: center;
    padding-bottom: 10px;
}